/*-BODY-*/

body {
    font-family: 'Raleway', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
  }

 *{
     box-sizing: border-box;
 }

 h2 {
     font-weight: bold;
     font-size: 30px;
 }

 h3 {
     font-weight: bold;
 }

 h4 {
    color: black;
 }
/*------------------------------------------HEADER-----------------------------------------*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;
}

@media (max-width: 768px) {
    .logo {
        margin-left: 10%;
    }
}

h1 {
    font-size: 20px;
    font-weight:bolder;
}

.undertitle {
    margin-top: -20px;
}

/*----------------------------------------------NAV-----------------------------------------*/

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.navbar ul {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 16px;
}

.navbar ul li a {
    padding: 20px;
    color: initial;
}

.navbar ul li a:hover {
    border-top: 3px solid;
    border-color: #0065FC;    
}

@media (max-width: 768px) {
    .navbar ul li a:hover {
        justify-content: center;
        border-top: none;
        border-bottom: 2px solid;
        border-color: #0065FC;    
    }
}

/*------------------------------------SEARCHBOX--------------------------------------*/

.searchbox {
    display: flex;
    align-items:center;
    flex-wrap: nowrap;
    height: 50px;
}

@media (max-width: 768px){
    .searchbox {
        justify-content: center;
    }
}

.icon-searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.padding-search {
    padding-left: 15px;
}

.search-text {
    display:flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 18px;
    height: 50px;
    width: 200px;
    border: none;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color: #F2F2F2;
}

.submit {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .submit {
        display: none;
    }
}

.submit-icon {
    display: none;
}

@media (max-width: 768px) {
    .submit-icon {
        display: block;
        background-color: #0065FC;
        border-radius: 15px;
        color: white;
        border: none;
        height: 50px;
        width: 50px;
    }
}
/*------------------------------MAIN(filtres)------------------------------------*/

main {
    display: flex;
    align-items: center;
    gap: 2%;
    flex-wrap: wrap;
    margin-top: 2%;
}

@media (max-width: 768px) {
    main {
        align-items: center;
    }
}

.filters-title {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .filters-title {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
}

.filters-boxs {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-left: transparent;
    border-radius: 50px;
    height: 50px;
}

.filters-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #DEEBFF;
    font-size: 15px;
    color: #0065FC;
}

.filters-text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.filters-boxs:hover {
    background-color: #DEEBFF;
    height: 55px;
}

/*------------------------------INFO------------------------------------*/

.info {
    display: flex;
    align-items: center;
}

.info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 20px;
    border: 1px solid #F2F2F2;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.info-text {
    margin-top: 5px;
}

/*-------------------------------SECTION1----------------------------------*/
/*-------------------------BLOCS HEBERGEMENTS ET POPULAIRES--------------------*/

.accommodations-popular {
    display: flex;
    gap: 5%;
    padding-top: 1%;
}

#accommodations {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 2%;
    background-color: #F2F2F2;
    flex-basis: 66%;
}

@media (max-width: 768px) {
    #accommodations {
        background-color: white;
    }
}

#accommodations h2 {
    margin-left: 1%;
}

#accommodations a {
    text-decoration: none; 
    color: black;
}

.popular-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .popular-title {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.fa-chart-line {
    font-size: 30px;
}

.popular {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 2%;
    background-color: #F2F2F2;
    flex-basis: 33%;
}

@media (max-width: 1495px) {
    .accommodations-popular {
        flex-direction: column;
        gap: 50px;
    }

    .popular {
        order: -1;
    }
}

@media (max-width: 768px) {
    .popular {
        border-radius: 0;
        margin-left: -5%;
        margin-right: -6%;
        padding-bottom: 15%;
    }
}

@media (max-width: 992px) {
    .accommodations-popular {
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .accommodations-popular {
        flex-direction: column;
    }

    .popular {
        order: -1;
    }
}

/*-------------------------------Hébergements à Marseille------------------*/

.accommodations-cards-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 60%;
}

@media (max-width: 992px) {
    .accommodations-cards-list {
        align-items: center;
        flex-basis: 100%;
    }
}

@media (max-width: 768px) {
    .accommodations-cards-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
    }
}

@media (max-width: 992px) {
    .accommodations-cards  {
        width: 100%;
        min-height: 30vh;
    }
}

@media (max-width: 992px) {
    .accommodations-cards a {
        width: 100%;
        min-height: 30vh;
    }
}

@media (max-width: 768px) {
    .accommodations-cards {
        justify-content: center;
        min-width: 85vw;
        min-height: 5vh;
        max-height: 28vh;
    }
}

.accommodations-cards-list div {
    margin: 1%;    
}

.full-star {
    color: #0065FC;
}

.empty-star {
    color: #F2F2F2;
}

.more-accommodations {
    margin-left: 1%;
    margin-top: 5%;
    font-size: large;
    font-weight: bold;
}

/*-----------------------------Hébergements à marseille cartes-------------*/

.accommodations-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px darkgrey;
    width: 55vw;
    height: 26vh;
    flex-basis: 30%;
}

.accommodations-cards-list div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;
}

.accommodations-cards a:hover {
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    transform: scale(1.05);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px darkgrey;
    
}

.accommodations-cards img {
    border-radius: 20px 20px 0 0;
    border: solid white 5px;
    height: 16vh;
    width: 100%;
    object-fit: cover;
}

.accommodations-informations-cards {
    padding-left: 5%;
    width: 100%;
}

@media (max-width: 768px) {
    .accommodations-informations-cards{
        padding: 2px;
        gap: 15px;
    }
}
@media (max-width: 414px) {
    .accommodations-informations-cards{
        gap: 1px;
    }
}

.accommodations-informations-cards h3 {
    margin-top: -2%;
}

.accommodations-informations-cards .stars {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -1.5%;

}

.price {
    margin-top: -3%;
}

/*---------------------------------Les plus populaires----------------------------*/

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}



@media (max-width: 768px) {
    .flex {
        gap: 10px;
    }
}

@media (max-width: 1495px) {
    .popular-cards-list {
        flex-direction: row;
        align-items: center;
        flex-basis: 100%;
    }

    .popular-cards {
        min-height: 22vh;
    }

    .popular-cards img {
        min-height: 22vh;
    }

}

@media (max-width: 992px) {
    .popular-cards-list {
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*------------------------------les plus populaires cartes-----------------------------*/

.popular-cards {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px darkgray;
    height: 18vh;
    width: 100%;
    margin-top: 2%;
}

@media (max-width= 768px) {
    .popular-cards {
        padding-left: 3%;
        padding-right: 3%;
    }
}

.popular-cards a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px darkgrey;
}

.popular-cards img {
    border-radius: 20px 0 0 20px;
    border: solid white 5px;
    height: 18vh;
    width: 18vh;
    object-fit: cover;
}

.pop-informations-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1%;
}

.popular-cards a {
    color: black;
    display: flex;
    width: 100%;
}

.pop-informations-cards .stars {
    display: flex;
    margin-top: auto;
}

@media screen and (max-width: 992px) {
    .flex img {
        min-width: 35vh;
     
    }
  }

@media screen and (max-width: 768px) {
    .flex img {
        min-width: 25vh;
     
    }
  }

@media screen and (max-width: 768px) {
    .popular-cards {
        max-width: 90vw;
    }
  }
/*------------------------------POURQUOI CA N4EST PAS PRIS EN COMPTE ???---------
/* @media (max-width= 992px) {
    .popular-cards img {
            width: 25vw;
            min-width: 30%;
    }
    .pop-informations-cards {
    margin-left: 5%;
    }
} */
/*---------------------------------------------Activités------------------------------*/

#activities {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 20px;
    border-radius: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    #activities {
        width: auto;
    }
}
.activities-list {
    display: flex;
    align-items: center;
    gap: 3%;
}

@media (max-width: 768px) {
    .activities-list {
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }
}

.activities-list a {
    color: black;
}

.activities-list a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px darkgrey;
}

.activities-list h3 {
    padding-left: 5%;
    margin-top: 5%;
}

@media (max-width: 768px) {
    .activities-list h3 {
        margin-top: 1%;
    }
}

/*-------------------------------------Cartes activités------------------------------*/

.activities-card1 {
    border-radius: 20px;
    box-shadow: 0px 10px 40px -2px rgba(169,169,169,0.75);
    height: 55vh;
}

.activities-card1 img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 20vw;
    height: 50vh;
}

@media (max-width: 1495px) {
    .activities-card1 img {
        width: 100%;
        height: 49vh;
    }
}

@media (max-width: 768px) {
    .activities-card1 img {
        height: 20vh;
    }
}

@media (max-width: 768px) {
    .activities-card1 {
        height: 25vh;
        width: 88vw;
    }
}

.duo-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2%;
    height: 55vh;
    width: 20vw;
}

@media (max-width: 768px) {
    .duo-cards {
        gap: 0%;
        align-items: center;
    }
}

.activities-card2 {
    border-radius: 20px;
    box-shadow: 0px 10px 40px -2px rgba(169,169,169,0.75);
    height: 35vh;
}

.activities-card2 img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 30vh;
    width: 20vw;
}

@media (max-width: 1495px) {
    .activities-card2 img {
        max-height: 28vh;
    }
}

@media (max-width: 768px) {
    .activities-card2 img {
        min-width: 88vw;
        max-height: 20vh;
    }
}

@media (max-width: 768px) {
    .activities-card2 {
        height: 25vh;
        width: 88vw;
    }
}

.activities-card3 {
    border-radius: 20px;
    box-shadow: 0px 10px 40px -2px rgba(169,169,169,0.75);
    height: 15vh;
    width: 100%;
}

.activities-card3 img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 10vh;
    width: 20vw;
}

@media (max-width: 1495px) {
    .activities-card3 img {
        max-height: 9vh;
    }
}
@media (max-width: 768px) {
    .activities-card3 img {
        min-width: 88vw;
        min-height: 20vh;
    }
}

@media (max-width: 768px) {
    .activities-card3 {
        height: 25vh;
        width: 88vw;
    }
}

.activities-card4 {
    border-radius: 20px;
    box-shadow: 0px 10px 40px -2px rgba(169,169,169,0.75);
    height: 55vh;
}

.activities-card4 img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 20vw;
    height: 50vh;
}

@media (max-width: 1495px) {
    .activities-card4 img {
        max-height: 48vh;
    }
}

@media (max-width: 768px) {
    .activities-card4 img {
        min-width: 88vw;
        max-height: 20vh;
    }
}

@media (max-width: 768px) {
    .activities-card4 {
        height: 25vh;
        width: 88vw;
    }
}

.activities-card5 {
    border-radius: 20px;
    box-shadow: 0px 10px 40px -2px rgba(169,169,169,0.75);
    height: 25vh;
    width: 100%;
}

.activities-card5 img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 20vh;
    width: 20vw;
}

@media (max-width: 1495px) {
    .activities-card5 img {
        max-height: 18vh;
    }
}

@media (max-width: 768px) {
    .activities-card5 img {
        min-width: 88vw;
        min-height: 20vh;
    }
}

@media (max-width: 768px) {
    .activities-card5 {
        height: 25vh;
        width: 88vw;
    }
}

.activities-card6 {
    border-radius: 20px;
    box-shadow: 0px 10px 40px -2px rgba(169,169,169,0.75);
    height: 25vh;
}

.activities-card6 img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 20vh;
    width: 20vw;
}

@media (max-width: 1495px) {
    .activities-card6 img {
        max-height: 18vh;
    }
}

@media (max-width: 768px) {
    .activities-card6 img {
        min-width: 88vw;
        min-height: 20vh;
    }
}

@media (max-width: 768px) {
    .activities-card6 {
        height: 25vh;
        width: 88vw;
    }
}

/*--------------------------------------FOOTER-------------------------------------*/

.end {
    background-color: #F2F2F2;
    display: flex;
    align-items: flex-start;
    margin-top: 2%;
    gap: 20%;
    padding-left: 15%;
    margin-left: -15%;
    margin-right: -15%;
}

.end a {
    color: black;
}

.end  a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .end{
        flex-direction: column;
        gap: 5%;
        border-radius: 0;
        padding-top: 10%;
        padding-left: 5%;
        margin-top: 10%;
        margin-left: -20px;
        margin-right: -20px;
    }
} 
