/*-----------------------------------------BODY------------------------------------------*/
body {
    font-family: 'Raleway', sans-serif;;
    margin-left: 50px;
    margin-right: 50px;
  }

 *{
     box-sizing: border-box;
 }

 h2 {
     font-weight: bold;
 }

 h3 {
     font-weight: bold;
 }

 h4 {
    color: black;
 }
/*------------------------------------------HEADER-----------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 20px;
    font-weight:bolder;
}

.undertitle {
    margin-top: -20px;
}
/*----------------------------------------------NAV-----------------------------------------*/
a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.navbar ul {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 16px;
}

.navbar ul li a {
    padding: 20px;
    color: initial;
}

.navbar ul li a:hover {
    border-top: 2px solid;
    border-color: #0065FC;    
}

@media (max-width: 768px) {
    .navbar ul li a:hover {
        border-top: none;
        border-bottom: 2px solid;
        border-color: #0065FC;    
    }
}

/*------------------------------------SEARCHBOX--------------------------------------*/
.searchbox {
    display: flex;
    align-items:center;
    flex-wrap: nowrap;
    height: 50px;
    /* width: 400px; */
}

.icon-searchboxx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
.padding-search {
    padding-left: 15px;


}
.search-text {
    display:flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 200px;
    border: none;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    border-color: #F2F2F2;
}

.submit {
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
}

/*------------------------------MAIN(filtres)------------------------------------*/
main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    main {
        align-items: center;
    }
}

.filters-title {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .filters-title {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
}

.filters-boxs {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-left: transparent;
    border-radius: 50px;
    height: 50px;
    margin-left: 20px;
}

/* @media (max-width: 768px) {
    .filters-boxs{
        margin-left: 5px;
    }
} */
.filters-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #DEEBFF;
    font-size: 15px;
    color: #0065FC;
}

.filters-text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.filters-boxs:hover {
    background-color: #DEEBFF;
    height: 55px;
}

/*------------------------------INFO------------------------------------*/
.info {
    display: flex;
    align-items: center;
}

.info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 20px;
    border: 1px solid #F2F2F2;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.info-text {
    margin-top: 5px;
}

/*-------------------------------SECTION1----------------------------------*/
.accommodations-popular {
    display: flex;
    gap: 50px;
}

.accommodations {
    border-radius: 20px;
    padding: 20px;
    background-color: #F2F2F2;
    flex-basis: 66%;
}

.accommodations h2 {
    margin-left: 20px;
}

.accommodations a {
    text-decoration: none; 
    font-weight: bold;
    color: black;
}
.popular {
    border-radius: 20px;
    padding: 20px;
    background-color: #F2F2F2;
    flex-basis: 33%;
}

.popular h2 {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .accommodations-popular {
        flex-direction: column;
        /* flex-grow: 1; */
    }

    .popular {
        order: -1;
    }
}

/*-Hébergements à Marseille-*/
.accommodations-cards-list {
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;
    flex-basis: 33%;
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    .accommodations-cards-list {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .accommodations-cards {
        width: 100%;
    }
}

.accommodations-cards-list div {
    margin: 1%;    
}

.full-star {
    color: #0065FC;
}

.empty-star {
    color: #F2F2F2;
}
/*--Les plus populaires--*/
.popular-cards-list {
    display: flex;
    flex-direction: column;
    /* height: 90%; */
    /* flex-basis: 30%; */
}
.popular-cards-list div {
    margin: 3%;
}
.icon-popular {
    font-size: large;
    color:black;
}

@media (max-width: 768px) {
    .popular-cards-list {
        flex-direction: column;
    }
}

/*-Hébergements à marseille cartes--*/
.accommodations-cards {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 15px darkgrey;
    flex-grow: 1;
    max-width: 300px;
    height: 300px;
    flex-basis: 30%;

}

.accommodations-cards :hover {
    filter: opacity(75%);
}

.accommodations-cards img {
    border-radius: 20px 20px 0 0;
    padding: 5px;
    height: 200px;
    width: 100%;
    max-width: auto;
    object-fit: cover;
}

.accommodations-informations-cards {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.accommodations-informations-cards h3 {
    margin-top: 0.5px;
}

.accommodations-informations-cards .stars {
    margin-top: -10px;
}
/*--les plus populaires cartes--*/
.popular-cards {
    display: flex;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 15px darkgray;
    /* max-width: auto; */
    max-height: 200px;
}

.popular-cards :hover {
    filter: opacity(75%);
}
.popular-cards img {
    border-radius: 20px 0 0 20px;
    padding: 5px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.pop-informations-cards {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.pop-informations-cards h3 {
    margin-top: 5px;
}
.price {
    margin-top: -10px;
}

.stars {
    margin-top: 75px;
}

.popular-cards a {
    color: black;
}

/*--Activités--*/
.activities {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    /* width: auto; */
    /* height: 500px; */
}

.activities h2 {
    padding: 20px;
}

.activities-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .activities-list {
        flex-direction: column;
    }
}
/*--Cartes activités--*/
.activities-cards {
    border-radius: 20px 20px 20px 20px;
    display: flex;
    background-color: white;
    max-width: 400px;
    /* height: 370px; */
}

.activities-cards a,
.activities-duo-cards a {
    color: black;
}

.activities-cards a :hover,
.activities-duo-cards a :hover {
    filter: opacity(75%);
}

.activities-cards img {
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.activities-cards h3 {
    margin-left: 20px;
}

.activities-duo-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    /* height: 300px; */
}

.activities-duo-cards h3 {
    margin-left: 20px;
}

.card-activity-2 {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.card-activity-2 img {
    border-radius: 20px 20px 0 0;
    height: 150px;
    width: 400px;
    object-fit: cover;
}

.card-activity-3 {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.card-activity-3 img {
    border-radius: 20px 20px 0 0;
    height: 75px;
    width: 400px;
    object-fit: cover;
}

.card-activity-5 {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.card-activity-5 img {
    border-radius: 20px 20px 0 0;
    height: 110px;
    width: 400px;
    object-fit: cover;
}

.card-activity-6 {
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.card-activity-6 img {
    border-radius: 20px 20px 0 0;
    height: 110px;
    width: 400px;
    object-fit: cover;
}

/*--FOOTER--*/
.end {
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 410px;
    padding-left: 20px;
}

.end a {
    color: black;
}

@media (max-width: 768px) {
    .end{
        flex-direction: column;
        gap: 5%;
    }
}